.hvr__images {
  position: relative;
}
.hvr__sectors {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
.hvr__sector {
  flex-grow: 1;
}
@media (max-width: 768px) {
  .hvr__sector {
    pointer-events: none;
  }
}
.hvr__dots {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.hvr__dot {
  flex-grow: 1;
  height: 2px;
  margin: 10px 2px 0;
  background: #d6dbe0;
}
.hvr__dot--active {
  flex-grow: 1;
  height: 2px;
  margin: 10px 2px 0;
  background: #ff2a2c;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-size-100 {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
