.react-preview-gallery__images {
  position: relative;
}
.react-preview-gallery__sectors {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
.react-preview-gallery__sector {
  flex-grow: 1;
}
@media (max-width: 768px) {
  .react-preview-gallery__sector {
    pointer-events: none;
  }
}
.react-preview-gallery__dots {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.react-preview-gallery__dot {
  flex-grow: 1;
  height: 2px;
  margin: 10px 2px 0;
  background: #d6dbe0;
}
.react-preview-gallery__dot--active {
  flex-grow: 1;
  height: 2px;
  margin: 10px 2px 0;
  background: #ff2a2c;
}
.react-preview-gallery-collapse {
  display: none;
}
.react-preview-gallery-collapse.in {
  display: block;
}
.react-preview-gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-preview-gallery__size-100 {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
